services:

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    volumes:
      - ./influxdb/data:/var/lib/influxdb2
    ports:
      - "8086:8086"
    restart: unless-stopped
    environment:
      - INFLUXD_HTTP_BIND_ADDRESS=0.0.0.0:8086

  telegraf:
    image: telegraf:1.30
    container_name: telegraf
    env_file:
      - .env
    depends_on:
      - influxdb
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.4.0
    container_name: grafana
    volumes:
      - ./grafana/data:/var/lib/grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
